<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.junit.launchconfig">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/3223004253"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.junit.KEEPRUNNING_ATTR" value="false"/>
<stringAttribute key="org.eclipse.jdt.junit.TESTNAME" value=""/>
<stringAttribute key="org.eclipse.jdt.junit.TEST_KIND" value="org.eclipse.jdt.junit.loader.junit5"/>
<booleanAttribute key="org.eclipse.jdt.junit.ATTR_TEST_CONTAINER" value="true"/>
<stringAttribute key="org.eclipse.jdt.junit.CONTAINER" value="=3223004253"/>
<booleanAttribute key="org.eclipse.jdt.junit.ATTR_SCROLL_TO_LINE" value="true"/>
<booleanAttribute key="org.eclipse.jdt.junit.ATTR_SHOW_IN_ALL" value="true"/>
<booleanAttribute key="org.eclipse.jdt.junit.ATTR_FAIL_ON_ERROR" value="true"/>
<booleanAttribute key="org.eclipse.jdt.junit.ATTR_FAIL_ON_EMPTY" value="true"/>
<booleanAttribute key="org.eclipse.jdt.junit.ATTR_ATTR_ACTIVE" value="true"/>
<booleanAttribute key="org.eclipse.jdt.junit.ATTR_ATTR_ACTIVE" value="true"/>
</launchConfiguration>


