<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/3223004253/src/main/java/com/plagiarism/PlagiarismDetector.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.plagiarism.PlagiarismDetector"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="3223004253"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dfile.encoding=UTF-8"/>
<listAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS">
<listEntry value="src/test/resources/orig.txt"/>
<listEntry value="src/test/resources/orig_0.8_add.txt"/>
<listEntry value="result.txt"/>
</listAttribute>
</launchConfiguration>


